.bold-text {
  font-weight: bold;
  margin-left: 10px;
}
.text-group {
  display: flex;
  align-items: center;
}
.small-gray-text {
  font-size: 75%;
  color: gray;
  margin-left: 8px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-box {
  max-width: 200px;
  margin-left: auto;
  font-size: 80%;
  flex-grow: 1;
  border-color: lightgray;
}
#name {
  color: blue;
}
.button {
  margin: 8px;
  font-size: 60%;
  background-color: white;
  border-color: lightgray;
}
